/* css reset */
@font-face {
  font-family: notosans_bold;
  src: url('../fonts/NotoSansCJKkr-Bold.otf');
}
@font-face {
  font-family: notosans_light;
  src: url('../fonts/NotoSansCJKkr-Light.otf');
}
@font-face{
	font-family : notosans_regular;
	src : url('../fonts/NotoSansCJKkr-Regular.otf');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit; 
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; 
	}
	ol, ul {
		list-style: none; 
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body { /*자동 폰트 크기 조정 X*/
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		/*가상 요소의 전과 앞의 가상 요소 , 그리고 그 가상요소 자체를 지칭*/
		-moz-box-sizing: border-box;/*moz가 모질라 파이어폭스일듯.*/
		-webkit-box-sizing: border-box; /*얘는 크롬*/
		
		/*box-sizing은 박스 크기를 무엇을 기준으로 정할 지 고른다.
		content-box와 border-box가 대표적으로 있는데
		width 500 , padding 20 , margin 20 , border 20 이라 하자.
		content-box의 실제 화면에 보여질 크기는 580이다. (컨텐츠의 크기가 500임으로 정했고, 거기에 margin 20 20 border 20 20 이 더해지므로 80을 더한다.)
		border-box는 (바깥 라인이 기준이다.) 그러므로 사이즈는 500이고 실제 보여질 크기는 480이다.
		
		*/
		box-sizing: border-box;/*라인을 기준으로 한다고 하네요 홍홍 그러면 width를 정하면 padding을 제외하고는 무조건 다 그 크기를 유지하겠군요.*/
	}
html,body{
	width: 100%;
	height: 100%;
}
h1{font-size : 2em;}
h2{font-size : 1.8em;}
h3{font-size : 1.6em;}
h4{font-size : 1.4em;}
h5{font-size : 1.2em;}
h6{font-size : 1em;}
h7{font-size : 0.8em;}
.Llight {
	font-family: notosans_light;
}
.Lbold {
	font-family: notosans_bold;
}

#head-bar{
	top : -60px;
	transition : top 0.5s;
	z-index :20;
	width : 100%;
	height : 60px;
	background-color : 	#1C1C1C;
	color : white;
	position : fixed;
	vertical-align : middle;
	font-family : notosans_regular;
	box-shadow : 0px 1px 20px rgba(0,0,0,0.1);
	opacity : 0.9;
}
#head-bar :after{
    content:'';
    display: block;
    clear:both;
}
#head-bar li {
	display : block;
	float : right;
	height : 60px;
	max-width : 150px;
	width : 20%;
	text-align : center;
	letter-spacing: 0.275rem;	
	font-size : 0.9em;
}

#head-bar a{
	display : inherit;
	width : 100%;
	max-width : 150px;
	height : inherit;
	color : white;
	text-decoration: none;
	padding-top : 16.5px;
}
#head-bar a:hover{
	background-color: white;
	color : black;
	animation: change_color 0.2s;
}





#mainslide
{
	width : 100%;
	height : 100%;
	margin : 0 auto;
	background-image : 	url('../image/main_image2.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	animation: fadein 1s;
	padding : 5%;
}
.maintitle
{
	vertical-align : bottom;
	display:inline-block;
	font-weight: 200;
	line-height: 1.5;
	padding:2%;
	letter-spacing: 0.375rem;	
	font-size : 2em;
	color : black;
	border-style : solid;
	border-width : 2px;
	border-color : black;
	animation: moving_fadein 3s;
}

.profile_img {
	display : block;
	min-width : 120px;
	min-height :120px;
	width : 40%;
	height : 40%;
	margin : 15% auto;
}
#big-content{
	margin : 0 auto;
	padding : 5%;
	width : 100%;
	max-width : 1800px;
}
.profile_items{
	font-family : notosans_light;
	padding : 6%;
}
.all_items{
	font-family : notosans_light;
	padding : 6%;
}
.items{
	line-height : 2em;
}

.introduce{
		font-family : notosans_bold;
		display : block;
		text-align : center;
}

@media screen and (min-width : 1000px) {
	.profile_img {
		width : 15%;
		height : 15%;
		margin : 2%;
	}
	.items{
		display : inline-block;
		vertical-align : middle;
	}
	#big-content{
		margin : 0 auto;
		padding : 3%;
		width : 100%;
		max-width : 1800px;
	}
	.profile_items{
		width : 40%;
		/* display : inline-block; */
		font-family : notosans_light;
		padding : 2%;
	}
	.all_items{
		width : 35%;
		/* display : inline-block; */
		font-family : notosans_light;
		padding : 2%;
	}	
}


#content_shower{
	width : 100%;
	height : 800px;
}


@keyframes change_color {
	from {
		background-color :#1C1C1C;
		color : white;
	}
	to {
		background-color: white;
		color : black;
	}}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}}
@keyframes moving_fadein {
	from {
		opacity: 0;
		margin-left: 2%
	}

	to {
		opacity: 1;
		margin-left: 0%
	}}
 